/* Pizza project styles. */

/* Images and icons. */

.pizza-slices img {
  height: auto;
  width: 50px;
}

/* Section styles. */

section#header {
	margin: 0 auto;
	max-width: 800px;
}

section#pizza-table {
	max-width: 1000px;
}

footer {
	clear: both;
}

/* Element styles. */

form {
	margin: 0 auto;
	max-width: 200px;
}

form div {
	padding: 10px 0;
}

form label {
	font-size: 12px;
}

#pizza-form input {
	font-size: 20px;
	padding: 5px;
	width: 186px;
}

#pizza-form input[type=submit] {
	margin-top: 10px;
	width: 100%;
}


/* Styles for larger screens. */

@media only screen and (min-width: 767px) {
	section#pizza-table .row div {
		text-align: left;
	}

	section#pizza-table .row div:first-child {
		border-right: 1px solid #C7C7C7;
		text-align: right;
	}

	section#pizza-table #sharon {
		text-align: right;
	}
}